@model TheHermes.Models.UserInfoModel

@{
    ViewBag.Title = "title";
}

@using (Html.BeginForm("UpdateUserInfo", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        <div class="col-md-offset-4 col-md-4">
            <label>Выбранная компания ЖКХ</label>
            <select class="form-control" id="organistaionSelect">
                @foreach (var e in Model.ListOrganisation)
                {
                    if (e.OrganisationGuid == Model.SelectedOrganisation)
                    {
                        <option value="@e.OrganisationGuid" selected="selected">@e.Name</option>
                    }
                    else
                    {
                        <option value="@e.OrganisationGuid">@e.Name</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-4">
            <label>Количество детей</label>
            <input class="form-control" id="childrenCount" value="@Model.ChildrenCount">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-4">
            <label>Возраст</label>
            <input class="form-control" id="age" value="@Model.Age">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-10">
            <button type="button" onclick="UpdateUserInfo()" class="btn btn-outline-primary">Сохранить</button>
        </div>
    </div>
}